@import "../../../styles/variables.scss";

.info-tile-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: 20px 0;

  &.single-column{
    grid-template-columns: auto;
  }

  li {
    list-style: none;
  }
}

.info-tile {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: start;
  justify-content: start;
  border-radius: 12px;
  padding-bottom: 10px;

  &:not(:has(img)){
    grid-template-columns: auto;
  }

  h2,
  h3,
  h3,
  h5 {
    margin-top: 0;
  }

}

@media only screen and (max-width: 60rem) {
  .info-tile-list {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 768px) {
  .info-tile {
    grid-template-columns: 60px auto;
    padding-left: 0;
    padding-right: 0;
  }
}
