@import "../../styles/variables.scss";

.location-and-area-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.location-and-area {
  border-radius: 12px;
  background-color: $hippo-brand-light-grey;
  padding: 10px 20px;

  .location-and-area__header {
    padding: 10px 0;
    margin: 0;
  }
}

@media only screen and (max-width: 1300px){
  .location-and-area-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 850px){
  .location-and-area-list {
    grid-template-columns: 1fr;
  }
}
