@import "../../../styles/variables.scss";

.bookable-objects-list{
  padding-left: 0;
}

.bookable-Objects-list-item{
  list-style: none;
}

.bookable-object-button{
  padding: 10px;
  margin: 10px;
  text-align: left;
  width: calc(100% - 20px);
  max-width: 800px;
  border-radius: 10px;
  box-shadow: none;
  border: 0;
  font-size: 16px;

  &.bookable-object-button__booked {
    background-color: $hippo-brand-dark-grey;
  }

  &.bookable-object-button__available {
    background-color: $hippo-brand-light-green;
    color: $hippo-brand-navy;
  }
}

.bookable-Objects-list-item+.bookable-Objects-list-item button{
  margin-top: 0;
}

.selected-object-element {
  margin: 10px;
  padding: 5px 15px 20px 15px;
  max-width: 800px;
  background-color: $hippo-brand-yellow;
  border-radius: 10px;
}

.color-key{
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;

  p{
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.color-block{
  height: 1.5rem;
  width: 25px;
  border-radius: 12px;
  margin-right: 5px;
  
  &.color-block__green{
    background-color: #138000;
  }

  &.color-block__grey{
    background-color: #808080;
  }

  &.color-block__orange{
    background-color: #fba501;
  }
}

@media only screen and (max-width: 768px) {
  .color-key{
    flex-direction: column;
    align-items: flex-start;
  }
}