@use "variables.scss";

/* || font */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


/* || general */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --foreground-rgb: 0, 0, 0;
  --hippo-brand-bluey-grey: #e5ebf0;
  --hippo-brand-light-grey: #eff3f6;
  --hippo-brand-grey: #dde4e6;
  --hippo-brand-dark-grey: #c3cacc;
  --hippo-brand-green: #005e5d;
  --hippo-brand-navy: #0c2340;
  --hippo-brand-purple: #3c1053;
  --hippo-brand-light-green: #a0dab3;
  --hippo-brand-light-blue: #88dbdf;
  --hippo-brand-pink: #ffa3b5;
  --hippo-brand-yellow: #f9a502;
  --hippo-brand-violet: #4d57a3;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  font-size: 1rem;
  color: var(--hippo-dark-blue);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

main {
  min-height: calc(100dvh - (6rem + 4rem)); // = full height - (header height - footer height)
  background-color: var(--hippo-brand-grey);
  padding-bottom: 20px
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;

  height: 100vh;
}

@media only screen and (max-width: 640px) {
  .login-page-container {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px){
  .login-page-container {
      padding: 20px;
  }
}

/* || headings */

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.25;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 16px;
  font-size: 1.3rem;
}

h5 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--hippo-purple);
}

h6 {
  margin-bottom: 10px;
  font-size: 1em;
  color: var(--hippo-light-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60rem;
}

/* */

/* || lists */

ol,
ul {
  margin-top: 0;
  li::marker {
    color: var(--hippo-purple);
  }
}

ul {
  li {
    list-style-type: disc;
    > ul > li > ul li {
      list-style-type: circle;
    }
  }
}

// Buttons
// Basic until we come up with a better style that's not a CTA
button {
  padding: 8px;
  border-color: variables.$hippo-brand-grey;
  background-color: variables.$hippo-brand-light-grey;
  cursor: pointer;
}

/*  */

/* || links */

a {
  display: block;
  color: var(--hippo-dark-green);
  text-underline-offset: 7px;
  text-decoration-color: var(--hippo-brand-green);

  &:not(.cta):visited {
    color: var(--hippo-dark-green);
  }
  &:hover,
  &:active {
    opacity: 90%;
    text-decoration-color: var(--hippo-brand-light-grey);
  }

  // External link styling
  &[href^="http://"]:not([href*="localhost"]),
  &[href^="https://"]:not([href*="officebooking.hippodigital.co.uk"])
  {
    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 4px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath d='M38 38h-28v-28h14v-4h-14c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4v-14h-4v14zm-10-32v4h7.17l-19.66 19.66 2.83 2.83 19.66-19.66v7.17h4v-14h-14z' fill='%23005e5d'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      &::after {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath d='M38 38h-28v-28h14v-4h-14c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4v-14h-4v14zm-10-32v4h7.17l-19.66 19.66 2.83 2.83 19.66-19.66v7.17h4v-14h-14z' fill='%233c1053'/%3E%3C/svg%3E");
      }
    }
  }
}

p a {
  display: inline;
}

/* Containers and sections */

section.full-width-grey {
  background-color: var(--hippo-brand-grey);
  width: 100%;
}

section.full-width-light-grey {
  background-color: var(--hippo-brand-light-grey);
  width: 100%;
}

section.full-width-bluey-grey {
  background-color: var(--hippo-brand-bluey-grey);
  width: 100%;
}

section.full-width-navy {
  background-color: var(--hippo-brand-navy);
  color: white;
  width: 100%;
}

.content-container {
  margin: 0 auto;
  max-width: 1512px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}

.text-content-container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 25px 25px 75px 25px;
  min-height: 400px;
}

hr {
  border: none;
  border-top: 1pt solid variables.$hippo-brand-dark-grey;
}

/* Tables */

.table-striped {
  width: 100%;
  th,
  td {
    text-align: left;
    padding: 5px;
  }
  th {
    background-color: variables.$hippo-brand-dark-grey;
    color: white;
  }

  // striped rows
  tr:nth-child(odd) {
    background-color: variables.$hippo-brand-light-grey;
  }
  tr:nth-child(even) {
    background-color: variables.$hippo-brand-bluey-grey;
  }
}

/* || General mobile styling */

@media only screen and (max-width: 768px) {
  main {
    min-height: calc(100dvh - (4rem + 4rem)); //100dvh - (header + footer)
  }
}

// Inputs
input {
  min-width: 150px;
}
select {
  min-width: 150px;
}
textarea {
  min-width: 150px;
}

.standard-inputs {
  display: block;
  margin-top: 1em;

  label {
    display: block;
    font-weight: bold;
    font-size: 15pt;
  }

  p.hint{
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: rgb(57, 57, 57);
  }

  > input,
  textarea,
  select {
    display: block;
    margin-bottom: 1em;
    background-color: variables.$hippo-brand-light-grey;
    border: solid 1px variables.$hippo-brand-dark-grey;
    border-radius: 12px;
    padding: 10px 15px;
    width: 100%;
    max-width: 750px;
    font-size: 12pt;

    &:has(+ p.hint){
      margin-bottom: 1px;
    }
  }

  &.standard-inputs__transparent{
    > input,
    textarea,
    select {
      background-color: transparent;
    }
  }

  textarea {
    min-height: 100px;
  }
}

.spacer {
  margin: 1em 0 1em 0;
}

// Selectables
.clickable {
  cursor: pointer;

  &.hover-border:hover {
    border: 3px solid variables.$hippo-brand-dark-grey;
  }
}