$hippo-brand-bluey-grey: #e5ebf0;
$hippo-brand-light-grey: #eff3f6;
$hippo-brand-dark-grey: #9d9d9d;
$hippo-brand-grey: #dde4e6;
$hippo-brand-green: #005e5d;
$hippo-brand-navy: #0c2340;
$hippo-brand-purple: #3c1053;
$hippo-brand-light-green: #a0dab3;
$hippo-brand-light-blue: #88dbdf;
$hippo-brand-pink: #ffa3b5;
$hippo-brand-yellow: #f9a502;
