@use "../../../styles/variables.scss";

.modal-overlay {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  grid-template-rows: repeat(3, minmax(min-content, auto));
  grid-template-columns: repeat(3, minmax(min-content, auto));
  background-color: rgba(0, 0, 0, 0.546);
  animation: fadeIn 0.1s ease-out forwards;
}

body:has(.modal-overlay) {
  overflow: hidden;
}

.modal-booking {
  background-color: variables.$hippo-brand-bluey-grey;
  padding: 20px;
  z-index: 100;
  border-radius: 20px;
  width: 748px;
  animation: 0.3s show forwards;
  margin: auto;
  grid-column: 2;
  grid-row: 2;

  & h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  & .booking-card {
    margin-bottom: 30px;
  }
}

.out {
  animation: fadeOut 0.2s ease-out forwards;
}

@media only screen and (max-width: 768px) {
  .modal-booking {
    width: calc(100% - 20px);
  }
}

@keyframes show {
  0% {
    transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
