.floorplan__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.floorplan__desk-list {
    width: 100%;
    margin-left: 10px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    .floorplan__desk-list-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 300px;
    }
}