.floorplan__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

// if media is less than 900px
@media (max-width: 1150px) {
  .floorplan__container {
    flex-direction: column;
  }
}

.floorplan__desk-list {
    width: 100%;
    margin-left: 10px;

    ul {
        list-style-type: none;
        padding: 0;

        li {
          list-style: none;
        }
    }

    .floorplan__desk-list-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 300px;
    }
}