@use "../../styles/variables.scss";

.login-container {
    display: flex;
    flex-direction: column;
    background-color: variables.$hippo-brand-light-grey;
    color: variables.$hippo-brand-navy;
    border-radius: 26px;
    padding: 20px 50px;

    img {
        width: 150px;
        padding: 25px 0;
    }
}

