@import "../../../styles/variables.scss";

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bookings-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-bottom: 20px;

  caption {
    text-align: start;
    font-weight: bold;
    font-size: 1.25rem;
  }

  th {
    text-align: start;
  }

  tr {
    background-color: $hippo-brand-bluey-grey;

    td {
      padding: 10px 10px;
    }

    td:first-of-type {
      font-weight: bold;
      font-size: 1.2rem;
      border-top-left-radius: 26px;
      border-bottom-left-radius: 26px;
      padding-left: 20px;
    }

    td:last-of-type {
      border-top-right-radius: 26px;
      border-bottom-right-radius: 26px;
      text-align: end;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .booking-item-table {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 20px;
  }

  .bookings-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    caption {
      margin-bottom: 10px;
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    tr {
      display: flex;
      flex-direction: column;
      align-items: start;
      border-radius: 26px;
      padding: 20px;

      td:first-of-type {
        padding-left: 0;
      }

      td {
        padding: 5px 0;
        width: 100%;
      }

      td button:first-of-type {
        margin-top: 5px;
      }
    }
  }
}
