@import "../../../styles/variables.scss";

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $hippo-brand-bluey-grey;
  padding: 20px;
  z-index: 100;
  border-radius: 20px;
}
