@use "../../styles/variables.scss";

a.cta,
button.cta {
color: white;
padding: 17px 20px;
border-radius: 28px;
text-decoration: none;
font-size: 16px;
display: inline-flex;
transition: 0.2s ease;
border: none;
text-wrap: nowrap;
min-width: fit-content;
text-wrap: wrap;
max-width: 400px;
justify-content: center;
align-items: center;
line-height: 1.25em;
margin-top: 15px;
margin-bottom: 15px;
gap: 5px;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:active {
        text-decoration: underline;

        &.cta-with-arrow::after {
        margin-left: 20px;
        }
    }
    &[aria-disabled='true'] {
        opacity: 50%;
        cursor: not-allowed;

        &:hover {
        text-decoration: none;
        }
    }

    &.cta-green {
        background-color: variables.$hippo-brand-green;

        &:hover {
        background-color: #013635;
        }
    }

    &.cta-navy {
        background-color: variables.$hippo-brand-navy;

        &:hover {
        background-color: #02070d;
        }
    }

    &.cta-yellow {
        background-color: variables.$hippo-brand-yellow;

        &:hover {
        background-color: #b57901;
        }
    }

    &.cta-violet {
        background-color: variables.$hippo-brand-violet;

        &:hover {
        background-color: #383f77;
        }
    }

    &.cta-grey {
        background-color: variables.$hippo-brand-dark-grey;
        color: black;

        &:hover {
        background-color: #a5aaac;
        }
    }

    &.cta-pink {
        background-color: variables.$hippo-brand-pink;
        color: variables.$hippo-brand-navy;
        border: 3px solid #ffa3b5;

        &.with-arrow::after {
        background-image: url(../../assets/cta-arrow-navy.svg);
        }

        &:hover {
        background-color: #ffa3b5;
        }
    }

    &.cta-pink-outline {
        border: 3px solid #ffa3b5;
        color: #ffa3b5;
        font-weight: 400;
    }

    &.cta-red {
        background-color: #d20000;

        &:hover {
        background-color: #980202;
        }
    }

    &.cta-red-outline {
        border: 3px solid #d20000;
        color: #d20000;
        font-weight: 400;
    }

    &.cta-compact {
        padding: 10px 15px;
    }

    img {
        height: 1.25em;
    }
}

.cta + .cta {
    margin-left: 10px;
}

.with-arrow {
    display: flex;
    
    &::after {
        content: "";
        display: inline-block;
        line-height: 500px;
        width: 16px;
        height: 16px;
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        background-image: url(../../assets/cta-arrow-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition-duration: 0.2s;
    }
}

.button-group{
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

@media only screen and (max-width: 768px){
    .cta {
        width: 100%;
        justify-content: space-between;
        margin-top: 0;
    }

    .cta + .cta {
        margin-top: 0;
        margin-left: 0;
    }

    .button-group{
        grid-auto-flow: row;
      }
}