.floorplan__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.floorplan__editor {

    .floorplan__editor-canvas {
        border: 1px solid #000;
        margin-right:1em;
    }
}

.floorplan__desk-list {
    width: 100%;

    ul {
        list-style-type: none;
        padding: 0;
    }

    .floorplan__desk-list-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 300px;
    }
}