@use "../../../../styles/variables.scss";

.floorplan__container {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.toolbar{
  display: flex;
  gap: 50px;
  background-color: variables.$hippo-brand-navy;
  border-top-left-radius: 12pt;
  border-top-right-radius: 12pt;
  padding: 5px 12px;
  flex-wrap: wrap;
}

.toolbar {
  gap: 15px;
}

.toolbar-button-group{
  display: flex;
}

.floorplan__desk-list-container{
  background-color: variables.$hippo-brand-light-grey;
  padding: 15px;
  height: 650px; 
  border-radius: 12px;
}

.floorplan__desk-list {
  margin-left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: auto;
  scrollbar-color: blue;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;

    li {
      list-style: none;
    }

    li:nth-child(even){
      background-color:variables.$hippo-brand-bluey-grey;
    }
  }

  .floorplan__desk-list-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    align-items: center;

    button[aria-disabled="true"]{
      background-color: transparent;
      color: grey;
      cursor: not-allowed;

      &:active{
        border-style: outset;
      }
    }
  }

  .floorplan__desk-list-card:nth-child(even) {
    background-color: variables.$hippo-brand-grey;
  }
}

@media only screen and (max-width: 1150px){
  .floorplan__container {
    grid-template-columns: 1fr;
  }

  .floorplan__desk-list{
    height: auto;
    overflow-y: unset;
  }
}
