@use "../../styles/variables.scss";

.hero-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1512px;
    padding: 50px 25px;

    // picked 'medium' but can change to anything
    .hero-container__medium-height {
        min-height: 280px;
    }

    .hero-content {
        margin: 30px 0;
        align-content: center;
    }
}

.hero-graphic{
    width: 550px;
}

@media only screen and (max-width: 1587px) {
    .hero-container{
        padding-left: 75px;
        padding-right: 75px;
    }

    .hero-graphic{
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .hero-graphic {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .hero-content {
        width: 100%;
    }

    .hero-container{
        padding: 25px 25px;
    }
}